/* Specific styles for the Transaction Table */
.transaction-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #333;
    color: white;
  }
  @media (max-width: 768px) {
    table {
      width: 100%;
    }
  
    th, td {
      padding: 10px;
    }
  }
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
    